{% extends 'base.html' %}
{% block body %}
<section class="position-relative py-6 bg-info">
  <!-- <img class="img-fluid" src="/media/pics/nature.jpg" alt=""> -->
  <img class="bg-image" src="https://images.pexels.com/photos/1761279/pexels-photo-1761279.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=940" alt="">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 absolute text-block">
        <div class="bg-white rounded-lg shadow p-5"><strong class="text-uppercase text-secondary d-inline-block mb-2 text-sm">Featured</strong>
          <h2 class="mb-3">Escape the city today</h2>
          <p class="text-muted">Nature is not a place to visit. It is home.” – Gary Snyder In a very real sense, mountains and valleys, the seas and the skies, the sun and the earth, the trees and the flowers constitute our home, our natural habitat</p>
          <!-- <a class="btn btn-link p-0" href="post.html">Continue reading <i class="fa fa-long-arrow-alt-right"></i></a> -->
        </div>
      </div>
    </div>
  </div>
</section>
      <section class=""> 

      <!-- <div class="album bg-light"> -->
        <div class="album bg-info">
        <div class="container"> 
          <!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"> -->
          <div class="row ">
              {% for blog in blogs %}
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
              <!-- <div class="card shadow-sm"> -->
                <!-- <h5 class=""><a href={% url 'blogdetail' blog.slug %}>{{blog.title}}</a></h5> -->
                <!-- <img class="card-img-top" src="/media/pics/{{blog.img}}" alt="..."/></a> -->
                <!-- <img class="img-fluid img-thumbnail " src="/media/pics/{{blog.img}}" alt="..."/></a> -->
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;
                fg=eceeef&amp;text=Thumbnail" alt="Incompatible Image File" 
                src="/media/{{blog.img}}" data-holder-rendered="true"
                 style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <h5 class=""><a href={% url 'blogdetail' blog.slug %}>{{blog.title}}</a></h5>
                  <!-- <p class="dolli">{{blog.title}} : This blog is created at {{blog.createdAt}} by {{blog.user.username}}. The blog is about {{blog.title}}. More on blog: {{blog.content|safe}}</p> -->
                  <!-- <p class="font-weight-bold">Created at {{blog.createdAt}}</p> -->
                  <p class="font-weight-bold">Created at {{blog.createdAt}}</p>
                  
                  <p class="font-weight-bold">Author - {{blog.user.username}}.</p>
                   <span class="d-inline-block text-truncate font-weight-bold"" style="max-width: 230px;">
                    <!-- <p class="text-wrap">More on blog: {{blog.content|safe}}</p> -->
                    <p class="text-overflow:ellipsis; overflow:hidden; white-space: nowrap;">
                      Details: {{blog.content|safe}}
                    </p>
                  </span>
                    <div class="d-flex justify-content-between align-items-center">
                   
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-ouline-secondary"><a href={% url 'blogdetail' blog.slug %}>Read More</a></button>
                      <!-- <button type="button" class="btn btn-sm btn-outline-secondary">{{blog.user.username}}</button> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
              {% endfor %}
            <!-- </div> -->
            
          <!-- </div> -->
        </div>
      </div>
    </section>
{% endblock %}