{% extends 'base.html' %}

{% block body %}
<h1 class="text-center">Register</h1>
<div class="container">
UserName<input type="text" id="username"  class="form-control" name="username" placeholder="Enter UserName"><br>
Email <input type="email" id="email"  class="form-control" name="email" placeholder="Enter Email"><br>
Password<input type="password" id="password"  class="form-control" name="password" placeholder="Enter Password"><br>
<button type="submit"  class="btn-primary" onclick="register()">Register</button>
</div>
{% endblock %}